<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <script src="../../../Libraries/angular.js"></script>
    <link rel="stylesheet" href="../../../Libraries/bootstrap-theme.css">
    <link rel="stylesheet" href="../../../Libraries/bootstrap.css">
    <title>Service $http</title>
    <script>
        angular.module("myApp",[])

            .controller('mainCtrl', function ($scope, $http) {
                $scope.sendRequest = function () {
                    $http.get("data/data.json").success(function (response) {
                        $scope.items = response;
                    })
                }

        })
    </script>
</head>
<body ng-controller="mainCtrl">
<div class="container jumbotron text-center">
    <input type="button" value="Grab Items" class="btn-lg btn-success" ng-click="sendRequest()" />
    <table class="table">
        <thead>
        <tr>
            <td>Name</td>
            <td>Price</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in items">
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>