<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="myApp">
<head>
    <title>ToDo List (Task2)</title>
    <script src="../../../Libraries/angular.js"></script>
    <link href="../../../Libraries/bootstrap.css" rel="stylesheet" />
    <link href=../../../Libraries/bootstrap-theme.css" rel="stylesheet" />
    <script src="app.js"></script>

</head>
<body ng-controller="mainCtrl">

    <div class="container">

        <h3>ToDo List</h3>

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Completed</th>
                </tr>
            </thead>
            <tr ng-repeat="task in tasks">
                <td>{{task.name}}</td>
                <td>{{task.description}}</td>
                <td>{{task.date}}</td>
                <td> {{showText(task.completed)}}</td>
            </tr>
        </table>

        <div>
            <!-- Форма для добавления новых задач -->
            <label>Name</label>
            <input class="form-control" type="text" ng-model="inputName">
            <label>Due Date</label>
            <input class="form-control" type="text" ng-model="inputDueDate">
            <label>Desctiption</label>
            <textarea class="form-control" type="text" ng-model="inputDesctiption"></textarea><br>
            <label>Completed</label><br>
            <input type="checkbox" ng-model="inputCompleted"/><br>
            <button class="btn btn-primary" ng-click="clickAdd()">Добавить</button>
        </div><br>

        <div class="panel panel-primary" ng-if="newTaskSent" >
            <h3 style="text-align: center">Следующий объект был отправлен на сервер</h3>
            <p>{{newTaskObj}}</p>
        </div>

    </div>
</body>
</html>
