<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="myApp">
<head>
    <title>ToDo List (Task2)</title>
    <script src="../../Libraries/angular.js"></script>
    <link href="../../Libraries/bootstrap.css" rel="stylesheet" />
    <link href="../../Libraries/bootstrap-theme.css" rel="stylesheet" />
    <script>

        // Добавьте AngularJS контроллер
        var model = {
            task: [{name: "Купить молко", description: "Сходить на рынок и купить молоко", date: "2/18/2015", completed: ""}]
        };

        var myApp = angular.module("myApp", []);

        myApp.controller("myAppCtrl", function($scope){

              $scope.data = model;

            $scope.clickAdd = function(){

                $scope.data.task.push({
                    name: $scope.inputName,
                    description: $scope.inputDesctiption,
                    date: $scope.inputDate,
                });

                $scope.inputName = "";
                $scope.inputDesctiption = "";
                $scope.inputDate = "";
            }
        });

    </script>

</head>
<body ng-controller="myAppCtrl">

    <div class="container">

        <h3>ToDo List</h3>

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Completed</th>
                </tr>
            </thead>
            <tr ng-repeat="task in data.task">
                <td>{{task.name}}</td>
                <td>{{task.description}}</td>
                <td>{{task.date}}</td>
                <td></td>
            </tr>
        </table>

        <div>
            <!-- Форма для добавления новых задач -->
            <label>Name</label>
            <input class="form-control" type="text" ng-model="inputName">
            <label>Due Date</label>
            <input class="form-control" type="text" ng-model="inputDate">
            <label>Desctiption</label>
            <input class="form-control" type="text" ng-model="inputDesctiption"><br>
            <label>Completed</label><br>
            <checkbox></checkbox><br>
            <button class="btn" ng-click="clickAdd()">Add</button>
        </div>
    </div>
</body>
</html>
