<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <script src="../../../Libraries/angular.js"></script>
     <link rel="stylesheet" href="../../../Libraries/bootstrap.css">
     <link rel="stylesheet" href="../../../Libraries/bootstrap-theme.css">
    <title>lesson_12_Task2</title>
    <script>
        angular.module("myApp",[])
        .controller("mainCtrl", function($scope){

            $scope.mode = {
                name: true,
                price: false,
                category: false,
                count: false,
                tax: false,
                expiration: false
            };

            $scope.checkResult = "";

            $scope.items = [
             { name: "B Item", price: 10.9, category: "Category 1", count: 10, tax: 1.12, expiration: 10 },
             { name: "A Item", price: 1.1, category: "Category 1", count: 8, tax: 0.55, expiration: 12 },
             { name: "D Item", price: 2.6, category: "Category 2", count: 7, tax: 0.22, expiration: 5 },
             { name: "C Item", price: 17.5, category: "Category 2", count: 33, tax: 2.77, expiration: 10 }];
        });
    </script>
</head>

<body ng-controller="mainCtrl">
    <div class="panel panel-primary">
        <table class="table">
            <thead>
                <tr>
                    <th><label for="cnm">Name</label><input id="cnm" type="checkbox" class="checkbox" ng-model="mode.name"        ng-false-value="'name'" /></th>
                    <th><label for="cnm">Price</label><input id="cnm" type="checkbox" class="checkbox" ng-model="mode.price"        ng-false-value="'name'" /></th>
                    <th><label for="cnm">Category</label><input id="cnm" type="checkbox" class="checkbox" ng-model="mode.category"        ng-false-value="'name'" /></th>
                    <th><label for="cnm">Count</label><input id="cnm" type="checkbox" class="checkbox" ng-model="mode.count"        ng-false-value="'name'" /></th>
                    <th><label for="cnm">Tax</label><input id="cnm" type="checkbox" class="checkbox" ng-model="mode.tax"        ng-false-value="'name'" /></th>
                    <th><label for="cnm">Expiration</label><input id="cnm" type="checkbox" class="checkbox" ng-model="mode.expiration"        ng-false-value="'name'" /></th>
                    
                    
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in items">
                    <td ng-switch on="mode.name"><div ng-switch-when="true">{{item.name}}</div></td>
                    <td ng-switch on="mode.price"><div ng-switch-when="true">{{item.price}}</div></td>
                    <td ng-switch on="mode.category"><div ng-switch-when="true">{{item.category}}</div></td>
                    <td ng-switch on="mode.count"><div ng-switch-when="true">{{item.count}}</div></td>
                    <td ng-switch on="mode.tax"><div ng-switch-when="true">{{item.tax}}</div></td>
                    <td ng-switch on="mode.expiration"><div ng-switch-when="true">{{item.expiration}}</div></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>