<form name="contactForm">
 <label>username:   <input type="text" class="input-lg" name="userName"/></label>
 <label>age:   <input type="text" class="input-lg" name="age" /></label>
 <label>email: <input type="email" class="input-lg" name="userEmail" /></label>
    <label>employed: <input type="checkbox" name="employed"></label>
</form>

<div class="panel well-lg panel-primary" ng-controller="homeCtrl">
    <h3>Список</h3>
    <ul>
        <li ng-repeat="people in peoples"><a href="contact/{{people.name}}/{{people.age}}/{{people.email}}">{{people.name}}</a></li>
    </ul>
</div>